.weather{
    height: 100%;
    padding: 10px;
    .topweather{
        height: 20%;
        .left,.right{
            width: 50%;
            height: 100%;
            float: left;
            &.left{
                display: flex;
            }
        }
    }
    .weekweather{
        height: 60%;
        /deep/.swiper-container{
            height: 100%;
            /deep/.swiper-wrapper{
                height: 100%;
                .swiper-slide{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    .hourweather{
        height: 20%;
    }
}